::selection{
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease-in-out;
}

.blur {
    position: absolute;
    background: rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
  }

  .blur-light{
    background: rgba(60, 60, 60, 0.1); 
    backdrop-filter: blur(4px); 
    -webkit-backdrop-filter: blur(4px);
  }

  .nav-blur{
      height: 100vh;
  }

  .z-index-2{
      z-index: 2;
  }

body{
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
}

header nav{
    top: 0;
    right: 0;
}

#bar_menu{
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
}
#bar_menu:hover{
    opacity: 1;
}

.socail-list{
    text-align: center;
}

.socail-list li{
    margin: 20px 0;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.socail-list li:hover{
    opacity: 1;
}

section {
    margin-top: 50px;
    margin-left: 50px;
}

section h1{
    margin: 20px 0;
    font-size: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}


